.admin {
  background-color: #e67676 !important;
}
.marketing {
  background-color: #1fab9e !important;
}

.default {
  background-color: #262b28b5 !important;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 20px;
}
.content {
  padding: 0 20px;
  overflow: hidden;
  height: 0px;
  background-color: #e6e1e1;
  transition: height 0.4s;
}

.text {
  height: 230px;
}
li {
  list-style: none;
  margin: 20px;
}

i {
  float: right;
}
.icon {
  transition: transform 0.5s;
}
.iconback {
  transform: rotate(180deg);
  transition: 0.5s;
  color: grey;
}

p {
    font-size: 20px;
}