i {
    float: right !important;
}
/* .orange {
    background-color: orange !important;
}
.green {
    background-color: green;
}

.gray {
    background-color: gray !important;
} */

.collapsible-header {
    width: 100%;
}
span {
    font-size: 20px !important;
}